
<form class="form-signin" action="/session/create" method="post">

  <h2 class="form-signin-heading">Sign In</h2>

  <% if(flash && flash.err){ %>
    <ul>
      <% Object.keys(flash.err).forEach(function(error){ %></li>
        <li><%= JSON.stringify(flash.err[error]) %></li>
      <% }) %>
    </ul>
    <% } %>

  <input type="text" class="form-control" placeholder="username" name="username" >
  <input type="password" class="form-control" placeholder="password" name="password" >

  <input type="submit" class="btn btn-primary btn-block" value="Sign In">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">

  </div>

</form>
