<form class="form-signin" action="/user/update/<%= user.id %>" method="post">

  <h2>You are editing <%= user.username %></h2>

  <input type="email" name="email" value="<%= user.email %>" class="form-control">
  <% if(session.User.admin){ %>
      <% if(user.admin){ %>
        <input type="checkbox" name="admin" value=true checked> Admin <br/>
      <% }else{ %>
        <input type="checkbox" name="admin" value=true> Admin <br/>
      <% } %>
  <% } %>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Proceed">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">

</form>
