<div class="container">

  <h3>Users</h3>

  <table class="table">
    <tr>
      <th>Status</th>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(users, function(user){ %>
      <tr data-id="<%= user.id %>" data-model="user">
          <td>
            <% if(user.online) { %>
              <p class="bg-success">Online</p>
            <% } else { %>
              <p class="bg-danger">Offline</p>
            <% } %>
          </td>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><% if(user.admin){ %>
              Admin
            <% } else { %>
              Normal
            <% }%></td>
          <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Profile</a></td>
          <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
          <td>
            <form action="/user/destroy/<%= user.id %>" method="post">
              <input type="hidden" name="_method" value="delete"/>
              <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
              <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </form>
          </td>
      </tr>
    <% }) %>
  </table>

</div>
