
<form class="form-signin" action="/user/create" method="post">

  <h2 class="form-signin-heading">Create an account</h2>

  <% if(flash && flash.err){ %>
    <ul>
      <% Object.keys(flash.err).forEach(function(error){ %></li>
        <li><%= JSON.stringify(flash.err[error]) %></li>
      <% }) %>
    </ul>
    <% } %>

  <input type="text" class="form-control" placeholder="username" name="username" >
  <input type="email" class="form-control" placeholder="email" name="email" >
  <input type="password" class="form-control" placeholder="password" name="password" >
  <input type="password" class="form-control" placeholder="confirm password" name="confirm" >

  <input type="submit" class="btn btn-primary btn-block" value="Create Account">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">

  </div>

</form>
