<div class="container">

  <h1><%= user.username %></h1>
  <hr>
  <h3>contact: <%= user.email %></h3>

  <a class="btn bth-medium btn-primary" href="/user/edit/<%= user.id %>">Edit Profile</a>

</div>
