/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

body{
  padding-top: 60px;
  padding-bottom: 40px;
}
.jumbotron{
  text-align: center;
}

.jumbotron h2{
  text-align: center;
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

.container{
  color: gray;
}

.container{
  .footer{
    width: 25%;
  }
}

.form-signin{
  max-width: 30%;
  padding: 19px 29px 29px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: lightgrey;
  border: 1px solid blue;
  border-radius: 15px;

  h2{
    text-align: center;
  }
}

.form-signin input[type="text"], input[type="password"], input[type="email"]{
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.main-signin{
  input[type="text"], input[type="password"]{
    font-size: 12px;
    height: auto;
    padding: 2px 2px;
  }
}
