
<div class="container">
  <div class="jumbotron">
    <h1>Psychometric Project</h1>

    <h2>Get started now</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign Up now!</a>

  </div>
</div>
