<h1 style="text-align: center;">All our tests</h1>

<div class="container">
  <div class="jumbotron">
    <div class="row">
    <% _.each(tests, function(test){ %>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <h3 style="text-align: center;"><%= test.name %></h3>
          <% if(test.image != ""){ %>
            <img src="<%= test.image %>" alt="">
          <% } else { %>
            <img src="/images/Questions/default-placeholder.png" alt="...">
          <% } %>
          <div class="caption">
            <p>description...</p>
            <p style="text-align: center;"><a href="/test/show/<%= test.id %>" class="btn btn-primary" role="button">Start</a></p>
          </div>
        </div>
      </div>
    <% }) %>
    </div>
  </div>
</div>
