<form class="form-signin" action="/test/create" method="post">

  <input type="text" class="form-control" name="name" placeholder="Test Name" required>
  <input type="text" class="form-control" name="image" placeholder="Image URL">


  <input type="submit" class="btn btn-block btn-primary" value="Create Test">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">

</form>
