<div class="container">
  <div class="jumbotron">
    <h1><%= test.name %></h1>

    <% if(test.image){ %>
      <img src="<%= test.image %>" alt="">
    <% } %>
  </div>
</div>

<!-- TODO: add in the jumbotron the panels for the questions contained in the test object. -->
